{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Stackme Signup Form Responsive Widget Template | Home :: Stackme</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Stackme Signup Form Responsive, Signup form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style_login.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static '//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' %}" rel="stylesheet">
<link href="{% static '//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' %}" rel="stylesheet">
</head>
<body>
<h1>Stackme Signup Form</h1>
<div class="container">
<form action="#" method="post">
<h2>SIGN UP WITH</h2>
<div class="agile_ihj">
<div class="w3l_f">
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <span>FACEBOOK<span></a>
</div>
<div class="w3_l">
<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="w3_sp">LINKEDIN</span></a>
</div>
<div class="w3ls_t">
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="w3_sp1">TWITTER</span></a>
</div>
<div class="clear"></div>
</div>
<div class="w3l_o">
<div class="strip">OR</div>
</div>
<div class="agileinfo">
<input type="text" name="name" placeholder="First Name" required="">
</div>
<div class="agileinfo">
<input type="text" name="name" placeholder="Last Name" required="">
</div>
<div class="agileinfo">
<input type="email" name="email" placeholder="Email" required="">
</div>
<div class="agileinfo">
<input type="Password" name="password" placeholder="Password" required="">
</div>
<div class="agileinfo">
<input type="password" name="password" placeholder="Confirm Password" required="">
</div>
<div class="w3l_tx">
<input type="checkbox" name="" value=""><span class="w3l_chk">I would like to receive newsletters</span>
</div>
<div class="agile_par">
<p>By signing up I agree to <a href="#">Terms of Service</a> and <a href="#">Private Policy</a></p>
</div>
<div class="w3l_but">
<button type="submit" onlick="/p1/clk" >REGISTER</button>
</div>
</form>
<div class="wthree_down">
<h3>Already had an Account please Login</h3>
</div>
<div class="w3agile_side">
<div class="main">
    <div class="panel">
        <a href="#login_form" id="login_pop">LOGIN</a>
    </div>
</div>
<!-- popup form #1 -->
<a href="#x" class="overlay" id="login_form"></a>
   <div class="popup">
     <h2>Welcome</h2>
     <p>Please enter your Username and Password here</p>
	 <form action="#" method="post">
   <div>
      <input type="text" name="name" placeholder="Username" required="">
   </div>
   <div>

   <input type="password" name="name" placeholder="Password" required="">
   </div>
   <a href="#"><input type="submit" value="LOGIN" /></a>
   <a class="close" href="#close"></a>
   </form>
</div>
</div>
<div class="clear"></div>
</div>
<div class="footer">
 <p>&copy; Stackme Signup Form  2018. All Rights Reserved | Design by <a href="http://www.techmicra.co.in/" target="blank">Techmicra</a></p>
 </div>
</body>
</html>
